/* Helpers */
@import url("https://fonts.googleapis.com/css?family=Lato:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap");
/* *** VARIABLES *** */
/* Colors */
/* Fonts */
/* *** MIXINS *** */
/* Partials */
/* *** GENERAL *** */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

html, body {
  height: 100%;
  width: 100%; }

body {
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background: #adadda;
  color: #f0f0f0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2.2rem;
  line-height: 2.2rem; }

h1, h2 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase; }

section, footer {
  min-height: 400px;
  padding: 4.375rem 1.3rem;
  line-height: 1.8rem;
  border-top: 2px solid white; }
  section h1, section h2, footer h1, footer h2 {
    text-align: center; }

img {
  max-width: 100%; }

.caption {
  text-align: center;
  margin-bottom: 1.2rem;
  color: #7b7b7b; }

/* *** NAVIGATION *** */
.navigation {
  display: none;
  position: fixed;
  z-index: 999; }

.toggler {
  position: fixed;
  top: 1.6rem;
  right: 1.6rem;
  height: 3rem;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  background: #f0f0f0;
  border-radius: 50%;
  z-index: 10000;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); }
  .toggler span,
  .toggler span::before,
  .toggler span::after {
    display: block;
    background: #141211;
    height: 3px;
    width: 1.5rem;
    border-radius: 3px;
    position: relative;
    right: 0; }
  .toggler span::before,
  .toggler span::after {
    content: '';
    position: absolute; }
  .toggler span {
    width: 1.4rem;
    -webkit-transition: background .4s;
    -o-transition: background .4s;
    transition: background .4s; }
  .toggler span::before {
    bottom: 9px;
    width: 1.4rem;
    left: 0; }
  .toggler span::after {
    top: 9px;
    width: .7rem; }
  .toggler:hover {
    -webkit-box-shadow: 0 0 10px #f0f0f0;
    box-shadow: 0 0 10px #f0f0f0; }
    .toggler:hover span {
      background: #f0f0f0;
      -webkit-transition: background .3s;
      -o-transition: background .3s;
      transition: background .3s; }
    .toggler:hover span::before,
    .toggler:hover span::after {
      -webkit-transition: -webkit-transform .3s ease;
      transition: -webkit-transform .3s ease;
      -o-transition: transform .3s ease;
      transition: transform .3s ease;
      transition: transform .3s ease, -webkit-transform .3s ease; }

@media only screen and (min-width: 668px) {
  .toggler {
    top: 2rem;
    right: 2rem;
    height: 4rem;
    width: 4rem; }
  span,
  span::before,
  span::after {
    height: 4px;
    width: 1.8rem; }
  span::before {
    bottom: 11px; }
  span::after {
    top: 11px; } }

/* *** HEADER *** */
.header {
  display: grid;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  color: rgba(255, 255, 255, 0.95);
  font-family: "Lato", sans-serif;
  position: relative; }
  .header::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-gradient(linear, left bottom, left top, from(#373b449d), to(#4286f483)), fixed url("../../img/bg.jpg") center/cover no-repeat;
    background: -webkit-linear-gradient(bottom, #373b449d, #4286f483), fixed url("../../img/bg.jpg") center/cover no-repeat;
    background: -o-linear-gradient(bottom, #373b449d, #4286f483), fixed url("../../img/bg.jpg") center/cover no-repeat;
    background: linear-gradient(to top, #373b449d, #4286f483), fixed url("../../img/bg.jpg") center/cover no-repeat; }
  .header .logo--header {
    position: absolute;
    left: 1.6rem;
    top: 1.6rem;
    padding: .6rem .6rem .3rem;
    font-size: 2rem;
    font-weight: bolder;
    -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.55);
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.55); }
    .header .logo--header .span-1 {
      position: relative;
      left: .3rem; }
    .header .logo--header .span-2 {
      position: relative;
      font-size: 2.4rem;
      right: .3rem;
      -webkit-transform: rotateZ(100deg);
      -ms-transform: rotate(100deg);
      transform: rotateZ(100deg); }
  .header .header-container {
    padding: 0 1rem;
    position: relative;
    min-height: 250px; }
    .header .header-container span {
      display: block;
      position: relative;
      text-transform: uppercase;
      font-size: 1rem;
      padding-bottom: 1rem;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
      .header .header-container span.header-part-1 {
        letter-spacing: 8px;
        -webkit-animation: header1 1.2s 1 forwards;
        animation: header1 1.2s 1 forwards; }
      .header .header-container span.header-part-2 {
        font-size: 1.6rem;
        text-align: center;
        -webkit-animation: header2 3s forwards;
        animation: header2 3s forwards;
        opacity: 0; }
      .header .header-container span.header-part-3 {
        -webkit-animation: header3 3.5s ease-in 1;
        animation: header3 3.5s ease-in 1;
        font-size: 1.3rem; }
      .header .header-container span.header-part-4 {
        -webkit-animation: header4 4.5s ease-in 1 forwards;
        animation: header4 4.5s ease-in 1 forwards;
        font-style: italic;
        top: .5rem; }
      .header .header-container span.header-part-5 {
        -webkit-animation: header5 5.5s ease-in 1 forwards;
        animation: header5 5.5s ease-in 1 forwards;
        font-style: italic;
        font-weight: light;
        text-align: right; }

@-webkit-keyframes header1 {
  0% {
    opacity: 0;
    top: 100px;
    letter-spacing: 0px; }
  50% {
    letter-spacing: 15px; }
  100% {
    opacity: 1;
    top: -10px;
    letter-spacing: 8px; } }

@keyframes header1 {
  0% {
    opacity: 0;
    top: 100px;
    letter-spacing: 0px; }
  50% {
    letter-spacing: 15px; }
  100% {
    opacity: 1;
    top: -10px;
    letter-spacing: 8px; } }

@-webkit-keyframes header2 {
  0% {
    letter-spacing: 0px; }
  5% {
    opacity: 0; }
  50% {
    opacity: 0; }
  51% {
    opacity: 1; }
  52% {
    opacity: 0; }
  53% {
    opacity: 1; }
  54% {
    opacity: 0; }
  55% {
    opacity: 1; }
  57% {
    opacity: 0; }
  58% {
    opacity: 1; }
  59% {
    opacity: 0; }
  87% {
    opacity: 0; }
  88% {
    opacity: 1; }
  90% {
    opacity: 0; }
  91% {
    opacity: 1; }
  92% {
    opacity: 0; }
  93% {
    opacity: 1; }
  94% {
    opacity: 0;
    text-shadow: none; }
  95% {
    opacity: 1; }
  96% {
    opacity: 0; }
  97% {
    opacity: 1; }
  98% {
    opacity: 0; }
  100% {
    opacity: 1;
    letter-spacing: 3px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7); } }

@keyframes header2 {
  0% {
    letter-spacing: 0px; }
  5% {
    opacity: 0; }
  50% {
    opacity: 0; }
  51% {
    opacity: 1; }
  52% {
    opacity: 0; }
  53% {
    opacity: 1; }
  54% {
    opacity: 0; }
  55% {
    opacity: 1; }
  57% {
    opacity: 0; }
  58% {
    opacity: 1; }
  59% {
    opacity: 0; }
  87% {
    opacity: 0; }
  88% {
    opacity: 1; }
  90% {
    opacity: 0; }
  91% {
    opacity: 1; }
  92% {
    opacity: 0; }
  93% {
    opacity: 1; }
  94% {
    opacity: 0;
    text-shadow: none; }
  95% {
    opacity: 1; }
  96% {
    opacity: 0; }
  97% {
    opacity: 1; }
  98% {
    opacity: 0; }
  100% {
    opacity: 1;
    letter-spacing: 3px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7); } }

@-webkit-keyframes header3 {
  0% {
    right: 40rem; }
  80% {
    right: 40rem; }
  100% {
    right: 0; } }

@keyframes header3 {
  0% {
    right: 40rem; }
  80% {
    right: 40rem; }
  100% {
    right: 0; } }

@-webkit-keyframes header4 {
  0% {
    opacity: 0; }
  85% {
    opacity: 0; }
  100% { } }

@keyframes header4 {
  0% {
    opacity: 0; }
  85% {
    opacity: 0; }
  100% { } }

@-webkit-keyframes header5 {
  0% {
    opacity: 0; }
  85% {
    opacity: 0; }
  100% { } }

@keyframes header5 {
  0% {
    opacity: 0; }
  85% {
    opacity: 0; }
  100% { } }
  .header .social--header {
    position: absolute;
    left: 50%;
    bottom: 22vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: "Lato", sans-serif;
    font-size: 1.9rem;
    text-align: center;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
    .header .social--header .contact-btn {
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 1rem;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.95); }
  .header button {
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 6vh;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: transparent;
    color: rgba(255, 255, 255, 0.95);
    font-size: 1.6rem;
    border: 1px solid rgba(255, 255, 255, 0.95);
    border-radius: 55px;
    padding: .8rem 1.2rem; }
    .header button:hover {
      background: rgba(255, 255, 255, 0.95);
      color: rgba(0, 0, 0, 0.842); }

.intro {
  background: #f0f0f0;
  color: #555; }
  .intro h2 {
    color: #000; }
  .intro p {
    margin-bottom: 2rem; }
  .intro img {
    display: block;
    border-radius: 50%;
    width: 50%;
    margin: 0 auto; }

.skills ul {
  margin-bottom: 1.3rem; }

.work {
  background: #8585d6;
  position: relative;
  z-index: 2; }
  .work figure figcaption {
    text-align: center;
    background-color: #f0f0f0;
    color: black;
    padding: .7rem; }

.contact {
  background: #5454d1;
  position: relative; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .footer .social-footer {
    margin: 2rem 0 1.5rem; }
    .footer .social-footer a {
      padding: 1rem;
      font-size: 2rem;
      color: white; }
  .footer form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .footer form input {
      padding: .5rem;
      margin: 1rem 0; }
    .footer form textarea {
      margin: 1rem 0;
      padding: .5rem; }
  .footer em {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 1.1rem;
    letter-spacing: 3px; }
