/* *** HEADER *** */
.header {
    display: grid;
    align-content: center;
    justify-content: center;
    height: 100vh;
    color: hsla(0, 0%, 100%, 0.95);
    font-family: $header-font;
    position: relative;

    &::before {
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(to top, #373b449d, #4286f483),
            fixed url('../../img/bg.jpg') center / cover no-repeat;
    }

    .logo--header {
        position: absolute;
        left: 1.6rem;
        top: 1.6rem;
        padding: .8rem;
        border: 1px solid hsla(0, 0%, 100%, 0.95);
        border-radius: 50%;
        font-size: 2rem;
        font-weight: bolder;
        transform: rotateY(180deg) rotateX(180deg);
        box-shadow: 0 0 3px hsla(0, 0%, 100%, 0.55);

        .span-1 {
            position: relative;
            top: .5rem;
            left: .2rem;
            transform: rotateY(80deg);
            font-size: 2.2rem;
        }
        
        .span-2 {
            position: relative;
            bottom: .1rem;
            right: .05rem;
            
        }

    }

    .header-container {
        padding: 0 1rem;
        position: relative;
        min-height: 250px;

        span {
            display: block;
            position: relative;
            text-transform: uppercase;
            font-size: 1rem;
            padding-bottom: 1rem;
            transition: all .5s;

            &.header-part-1 {
                letter-spacing: 8px;
                animation: header1 1.2s 1 forwards;
            }

            &.header-part-2 {
                font-size: 1.6rem;
                text-align: center;
                animation: header2 3s forwards;
                opacity: 0;
            }

            &.header-part-3 {
                animation: header3 3s ease-in 1;
                font-size: 1.3rem;
            }

            &.header-part-4 {
                animation: header4 4.5s ease-in 1 forwards;
                font-style: italic;
                top: .5rem;
            }

            &.header-part-5 {
                animation: header5 5.5s ease-in 1 forwards;
                font-style: italic;
                font-weight: light;
                text-align: right;
            }
        }

        @keyframes header1 {
            0% {
                opacity: 0;
                top: 100px;
                letter-spacing: 0px;
            }

            50% {
                letter-spacing: 15px;
            }

            100% {
                opacity: 1;
                top: -10px;
                letter-spacing: 8px;
            }
        }

        @keyframes header2 {
            0% {
                letter-spacing: 0px;
            }

            5% {
                opacity: 0;
            }

            50% {
                opacity: 0;
                ;
            }

            51% {
                opacity: 1;
            }

            52% {
                opacity: 0;
            }

            53% {
                opacity: 1;
            }

            54% {
                opacity: 0;
            }

            55% {
                opacity: 1;
            }

            57% {
                opacity: 0;
            }

            58% {
                opacity: 1;
            }

            59% {
                opacity: 0;
            }

            87% {
                opacity: 0;
            }

            88% {
                opacity: 1;
            }

            90% {
                opacity: 0;
            }

            91% {
                opacity: 1;
            }

            92% {
                opacity: 0;
            }

            93% {
                opacity: 1;
            }

            94% {
                opacity: 0;
                text-shadow: none;
            }

            95% {
                opacity: 1;
            }

            96% {
                opacity: 0;
            }

            97% {
                opacity: 1;
            }

            98% {
                opacity: 0;
            }

            100% {
                opacity: 1;
                letter-spacing: 3px;
                text-shadow: 0 0 5px rgba(255, 255, 255, .7);
            }
        }

        @keyframes header3 {
            0% {
                right: 40rem;

            }

            80% {
                right: 40rem;
            }

            100% {
                right: 0;
            }
        }

        @keyframes header4 {
            0% {
                opacity: 0;
            }

            85% {
                opacity: 0;
            }

            100% {}
        }

        @keyframes header5 {
            0% {
                opacity: 0;
            }

            85% {
                opacity: 0;
            }

            100% {}
        }
    }

    button {
        position: absolute;
        bottom: 3rem;
        left: 50%;
        transform: translateX(-50%);
        width: 280px;
        height: 70px;
        background: transparent;
        border: 1px solid hsla(0, 0%, 100%, 0.95);
        border-radius: 55px;
        color: hsla(0, 0%, 100%, 0.95);
        font-family: $header-font;
        font-size: 1.8rem;
        cursor: pointer;
        box-shadow: 0 0 3px hsla(0, 0%, 100%, 0.4);

        &:hover {
            background: hsla(0, 0%, 100%, 0.95);
            color: rgba(0, 0, 0, 0.842);
        }

        i {
            margin-left: 1rem;
        }
    }
}

@include phone {}

@include tablet {
    .header {
        .main-heading {
            .header-part {}
        }
    }
}

@include desktop-xs {}

@include desktop-s {}

@include desktop {}