@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');
/* *** VARIABLES *** */
/* Colors */
$text-color: rgba(220, 220, 240, .95);


$bg-color: #1d191e;


/* Fonts */
$main-font: 'Montserrat', sans-serif;
$header-font: 'Lato', sans-serif;
